@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap');

body{
    font-family: 'Mulish', 'sans-serif';
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    transition: 0.4s;
}

body::before{
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.slide-container{
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.17), 0px 3px 6px rgb(0, 0, 0, 0.26);
    position: relative;
    overflow: hidden;
    width: 70vw;
    height: 70vh;
}

.slide{
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -15vw;
    top: -15vh;
    transition: 0.4s ease;
    z-index: 100;
}

.arrow{
    z-index: 10;
    position: fixed;
    background: transparent;
    padding: 20px;
    border: 2px solid orange;
    font-size: 40px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}

.arrow-left{
    left: calc(15vh + 40px);
}

.arrow-right{
    right: calc(15vh + 40px);
}


.slide.active{
    opacity: 1;
}